*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Variaveis */
    --cor-amarelo: #E9B225;
    --cor-cereja: #C61A39;
    --cor-azul: #129AFC;
    --cor-verde: #17E1A4;
    --cor-chumbo: #2D2D2D;
    --cor-branco: #ffffff;

    font-family: 'Mulish', sans-serif;
}

li{
    list-style: none;
}

/* Cores */
.bgnav{
    background-color: var(--cor-chumbo);
}
.fontebranco{
    color: var(--cor-branco);
}

.fonteamarelo{
    color: var(--cor-amarelo);
}
.fontecereja{
    color: var(--cor-cereja);
}
.fonteazul{
    color: var(--cor-azul);
}
.fonteverde{
    color: var(--cor-verde)
}

.bg-am{
    background-color: var(--cor-amarelo);
}
.bg-ce{
    background-color: var(--cor-cereja);
}
.bg-az{
    background-color: var(--cor-azul);
}
.bg-ve{
    background-color: var(--cor-verde);
}


/* Tipografia */
.titulo{
    font-size: 3rem;
    color: var(--cor-chumbo);
    font-weight: 900;
    line-height: 100%;
}

.biotexto h6{
    font-size: 1.2rem;
}

.biotexto p{
    font-size: 1.2rem;
}

.biotexto a{
    font-size: 1.2rem;
}

.subtitulo{
    font-size: 2.5rem;
}

/* Links */
a{
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    font-weight: 700;
}

.tiny{
    padding: 0 10px 0 10px;
    font-size: 0.7rem;
}

/* Tamanhos */

.submenu{
    list-style: none;
    width: 400px;
    justify-content: space-between;
}

.bio{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.session{
    margin: 0 auto;
    padding: 30px;
    max-width: 1080px;
}

.larg5{
    width: 50%;
}

/* Personalização */
.areas{
    width: 31.5%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--cor-chumbo);
    justify-content: center;
    color: var(--cor-branco);
    border-radius: 15px;
    font-weight: 200;
    font-size: 1.2rem;
}

.projetos{
    border-radius: 15px;
}

/* Alinhamento */
.dflex{
    display: flex;
}

.acenter{
    align-items: center;
}

.menu{
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    height: 60px;
    padding: 0 20px 0 20px;
}

.btn{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.atuacao{
    flex-wrap: wrap;
    gap: 20px;
}

/* Espaçamento */
.spacep{
    padding-bottom: 20px;
} 
.spacem{
    padding-bottom: 40px;
} 
.spaceg{
    padding-bottom: 60px;
} 

.corestema{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.bioimagem{
    justify-content: flex-end;
}

/* Elementos */
.detalhe{
    position: absolute ;
    top: 210px;
    left: 60px;
    height: 15px;
    width: 150px;
    background-color: var(--cor-amarelo);
    z-index: -100;
    overflow: visible;
}