*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Variaveis */
    --cor-amarelo: #E9B225;
    --cor-cereja: #fd708a;
    --cor-azul: #4fb6ff;
    --cor-verde: #17E1A4;
    --cor-chumbo: #1b1b1b;
    --cor-branco: #ffffff;

    font-family: 'Mulish', sans-serif;
}

li{
    list-style: none;
}

/* Cores */
.bgnav{
    background-color: var(--cor-chumbo);
}
.fontebranco{
    color: var(--cor-branco);
}
.fonteamarelo{
    color: var(--cor-amarelo);
}
.fontecereja{
    color: var(--cor-cereja);
}
.fonteazul{
    color: var(--cor-azul);
}
.fonteverde{
    color: var(--cor-verde)
}
.fontechumbo{
    color: var(--cor-chumbo);
}

.bg-am{
    background-color: var(--cor-amarelo);
}
.bg-ce{
    background-color: var(--cor-cereja);
}
.bg-az{
    background-color: var(--cor-azul);
}
.bg-ve{
    background-color: var(--cor-verde);
}


/* Tipografia */
.titulo{
    font-size: 3.9rem;
    color: var(--cor-chumbo);
    font-weight: 900;
    line-height: 100%;
}
.biotexto h6{
    font-size: 1.2rem;
}
.biotexto p{
    font-size: 1.2rem;
}
.biotexto a{
    font-size: 1.2rem;
}
.subtitulo{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--cor-chumbo);
}
.pj{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cor-chumbo);
}
.rodape{
    font-size: 0.8rem;
}
.getin{
    font-size: 1rem;
    font-weight: 400;
}


/* Links */
a{
    text-decoration: none;
}
a:hover{
    font-weight: 700;
}
.biotexto a{
    text-decoration: underline;
}
.tiny{
    padding: 0 10px 0 10px;
    font-size: 0.7rem;
}

/* Tamanhos */
.submenu{
    list-style: none;
    width: 400px;
    justify-content: space-between;
}
.bio{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.session{
    margin: 0 auto;
    padding: 30px;
    max-width: 1080px;
}
.larg5{
    width: 50%;
}
.projeto{
    width:31%;
    background-color: white;
    border-radius: 5px;
    height: 150px;
}
.footer{
    height: 70px;
}
.icons{
    height: 50px;
    transition: all 0.2s ease;
}
.icons:hover{
    transform: scale(1.2);
}

/* Personalização */
.areas{
    position: relative;
    width: 31.5%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--cor-chumbo);
    justify-content: center;
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.areas:hover{
    background-color: #2c2c2c;
}

.area{
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.area-ativa{
    font-weight: 600;
}
.projetos{
    border-radius: 15px;
}
.over{
    overflow: visible;
}
.border-ajust{
    border-radius: 15px 15px 0 0;
}
.contentcontainer{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.07);
}

/* Alinhamento */
.dflex{
    display: flex;
    justify-content: space-between;
}
.dflexnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dblock{
    display: block;
}
.acenter{
    align-items: center;
}
.galeria{
    gap: 30px;
}
.menu{
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    height: 60px;
    padding: 0 20px 0 20px;
}
.btn{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.atuacao{
    flex-wrap: wrap;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.dados{
    align-items: center;
}

/* Espaçamento */
.spacep{
    padding-bottom: 20px;
} 
.spacem{
    padding-bottom: 40px;
} 
.spaceg{
    padding-bottom: 80px;
} 

.corestema{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.bioimagem{
    display: flex;
    justify-content: flex-end;
    position: relative;
    justify-items: center;
    align-items: center;
}
.softwares{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.ilustracao{
    width: 80%;
    max-width: 330px;
    position: absolute;
    right: 7%;
    transition: all 0.5s ease;
}

/* Cores da Camisa */
.ao{fill:var(--cor-amarelo);}
.n{fill:var(--cor-amarelo);}

.fill-ce .n,.ao{
    fill:var(--cor-cereja);
}
.fill-am .n,.ao{
    fill:var(--cor-amarelo);
}
.fill-az .n,.ao{
    fill:var(--cor-azul);
}
.fill-ve .n,.ao{
    fill:var(--cor-verde);
}


/* Elementos */
.detalhe{
    position: absolute;
    transform: translateY(-15px);
    height: 15px;
    width: 150px;
    z-index: -100;
    overflow: visible;
}

.inactive{
    height: 0px;
    opacity: 0;
    overflow: hidden;
}

.active{
    height: 70px;
    opacity: 1;
    overflow: visible;
}

.descricao{
    position: absolute;
    top: 70px;
    padding: 0;
    font-size: 0.9rem;
    overflow: hidden;
    visibility: visible;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    z-index: 1000;
    height: 0;
}

.descOn{
    height: auto;
    padding: 15px;
    visibility: visible;
    opacity: 1;
}

/* Animações */
.bgcolor{
    transition: all 0.5s ease-in-out;
}

.atuacao{
    transition: all 0.5s ease;
}

.fontcolor{
    transition: all 0.5s ease-in-out;
}
#moldura{
    transition: all 0.5s ease;
}

/* Fundo */
.fundoanim{
    height: 100vh;
    position:absolute;
    top: 0;
    opacity: 0.3;
    z-index: -1000;
}

.circle1{
    position: fixed;
    height: 1000px;
    width: 1000px;
    top: -50%;
    right: -40%;
    border-radius: 1000px;
}

.circle2{
    position: fixed;
    height: 900px;
    width: 900px;
    top: 70%;
    left: -20%;
    border-radius: 1000px;
}

.circle3{
    position: fixed;
    height: 300px;
    width: 300px;
    top: -10%;
    left: 10%;
    border-radius: 1000px;
}

.maincontainer{
    width: 100%;
}
.contentcontainer{
    max-width: 1140px;
    margin: 40px auto 40px auto;
}

@media only screen and (max-width: 850px){
    .dflex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tema{
        display: none;
    }
    .corestema{
        padding: 0;
    }
    .menu{
        padding: 0 10px 0 10px;
        width: 100%;
    }

    /* Tipografia */
    .submenu a{
        font-size: 0.7rem;
    }
    .titulo{
        font-size: 2.5rem;
    }
    .biotexto h6{
        font-size: 0.9rem;
    }
    .biotexto p{
        font-size: 1rem;
    }
    .biotexto .link{
        font-size: 1.1rem;
    }
    .areas p{
        font-size: 1rem;
    }
    .pj{
        font-size: 1rem;
    }
    .rodape{
        text-align: center;
        font-size: 0.7rem;
    }

    /* Largura */
    .larg5{
        width: 100%;
    }
    .bioimagem svg{
        width: 100%;
    }
    .areas{
        width: 100%;
        height: 50px;
    }
    .active{
        height: 190px;
    }
    .projeto{
        width: 100%;
        height: 100px;
    }
    .icons{
        height: 30px;
    }
    .submenu{
        width: 230px;
    }
    .bioimagem{
        height: 320px;
    }
    .bioimagem .ilustracao{
        width: 70%;
        left:auto;
        right: auto;
        top: 4%;
        max-height: 300px;
    }
    .bioimagem .moldura{
        width: 80%;
        left:auto;
        right: auto;
    }

    /* Espaçamento */
    .spaceg{
        padding-bottom: 60px;
    }
    .biotexto{
        padding-top: 30px;
    }

    /* Personalização */
    .descricao{
        top: 50px;
        font-size: 0.9rem;
    }
    .softwares{
        gap: 10px;
    }
    .footer{
        flex-direction: column;
        height: 150px;
    }
    .contentcontainer{
        border: none;
        margin: 0;
        box-shadow: none;
    }

    /* Posição */
    .biotexto{
        order: 2;
    }
    .bioimagem{
        order: 1;
    }
}